@{
  Bundles.Reference("scripts/admin.js");
}
@section scripts
{
  <script src="/signalr/hubs"></script>
}

<div id="slider" data-bind="slider:status" data-slider-min="0" data-slider-max="4" data-slider-step="1"></div>