@{
    Bundles.Reference("scripts/index.js");
}
@section scripts
{
    <script src="/signalr/hubs"></script>
    <script>
        var currentThreatLevel = @ViewBag.CurrentLevel;
    </script>
}

<div data-bind="css:style">
    <div class="status-container">
        <a href="#">
            <span data-bind="text:statusText"></span>
        </a>
    </div>
</div>